@charset "utf-8";
@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

.col1,
#col2-2,
blockquote,
.security,
body>header>* {
    display: none;
}

.col2 {
    width: 100%;
    height: 100%;
}

.order_sum>table td:nth-child(1) {
    width: 100%;
}